---
import SponsorCard from "@/components/SponsorCard.astro";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getEntry, type CollectionEntry } from "astro:content";

const COLLECTION_FOLDER = "sponsors";
const sponsorIndex = (await getEntry(
  COLLECTION_FOLDER,
  "-index"
)) as CollectionEntry<"sponsors">;
const sponsors = await getSinglePage(COLLECTION_FOLDER);
---

<Base
  title={sponsorIndex.data.title}
  meta_title={sponsorIndex.data.meta_title}
>
  <PageHeader title={sponsorIndex.data.title} />
  <section class="section-sm pb-0">
    <div class="container">
      <div class="row justify-center">
        {sponsors.map((sponsor) => (
          <div class="mb-14 md:col-6 lg:col-4">
            <SponsorCard data={sponsor.data} />
          </div>
        ))}
      </div>
    </div>
  </section>
</Base>